include includes/layout.pug
section#download.download.text-center
	.container
		.row
			.col-md-offset-2.col-md-8.col-md-offset-2
				h2.section-heading Step 1: learning the Japanese alphabeth!
				br
			div.col-md-3.ocol-md-ffset-1
				a.btn.btn-outline.btn-xl(href='/game1') Up next Sa - To!
				a.btn.btn-outline.btn-xl(href='/game2') Up next Ha - No!
				a.btn.btn-outline.btn-xl(href='/game3') Up next Ma - Yo!
				a.btn.btn-outline.btn-xl(href='/game4') Up next Ra - N!
			div#main.col-md-8(role='main')
				div#my-memorygame.quizy-memorygame
					ul
						li.match1
							img(src='/media/kana/A.png')
					ul
						li.match2
							img(src='/media/kana/I.png')
					ul
						li.match3
							img(src='/media/kana/U.png')
					ul
						li.match4
							img(src='/media/kana/E.png')
					ul
						li.match5
							img(src='/media/kana/O.png')
					ul
						li.match6
							img(src='/media/kana/KA.png')
					ul
						li.match7
							img(src='/media/kana/KI.png')
					ul
						li.match8
							img(src='/media/kana/KU.png')
					ul
						li.match9
							img(src='/media/kana/KE.png')
					ul
						li.match10
							img(src='/media/kana/KO.png')
						li.match1
							br
							br
							br
							p.text-style1 A
						li.match2
							br
							br
							br
							p.text-style1 I
						li.match3
							br
							br
							br
							p.text-style1 U
						li.match4
							br
							br
							br
							p.text-style1 E
						li.match5
							br
							br
							br
							p.text-style1 O
						li.match6
							br
							br
							br
							p.text-style1 KA
						li.match7
							br
							br
							br
							p.text-style1 KI
						li.match8
							br
							br
							br
							p.text-style1 KU
						li.match9
							br
							br
							br
							p.text-style1 KE
						li.match10
							br
							br
							br
							p.text-style1 KO
include includes/js.pug
