// jQuery
script(src='/js/jquery-3.1.1.min.js')

// Memory Game Plugin
script(src='js/jquery-ui.min.js')
script(src='js/jquery.flip.min.js')
script(src='js/jquery.quizymemorygame.js')

// Custom Javascript
script(src='/js/custom.js')

// Bootstrap Core JavaScript
script(src='/js/bootstrap.min.js')

// Plugin JavaScript
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

// Theme JavaScript
script(src='/js/new-age.min.js')