$mainColour: #fff;

$navbar-default:#222;

$transitionColour: #fdcc52;

$transitionColour-focus-hover-yellow: #fcbd20;

$boder-colour: rgba(34,34,34,.1);

$Lightborder-color: #fff;

$border-color: rgba(34,34,34,.05);

$navbar-brand-color: rgba(255,255,255,.7);



body {

	nav {

		.dash {

			color: #fcbd20;

		}
	}

	.bg-primary {

		min-width: 100%;
  		min-height: 100%;

	}
}

section {

	.second {

	display: none;

	}

	div {

		form {

			input {

				color: $navbar-default;

			}
			
		}

		#signup {

			color: $mainColour;

		}

		#signin {

			color: $mainColour;
		}
	}
}
