body nav .dash {
  color: #fcbd20; }

body .bg-primary {
  min-width: 100%;
  min-height: 100%; }

section .second {
  display: none; }

section div form input {
  color: #222; }

section div #signup {
  color: #fff; }

section div #signin {
  color: #fff; }

img.size {
  width: 68%; }

nav li a.black {
  color: #222 !important; }

nav a.black {
  color: #222 !important; }

/*Hide the 2nd form on the login page*/
#second {
  display: none;
}

/*Hide the 2nd form on the settings page*/
#fourth {
  display: none;
}