body nav .dash {
  color: #fcbd20; }

body .bg-primary {
  min-width: 100%;
  min-height: 100%; }

section .second {
  display: none; }

section div form input {
  color: #222; }

section div #signup {
  color: #fff; }

section div #signin {
  color: #fff; }

img.size {
  width: 68%; }
