$mainColour: #fff;

body {

	.bg-primary {

		min-width: 100%;
  		min-height: 100%;

	}
}

section {

	.second {

	display: none;

	}

	div {

		form {

			input {

				color: #003366;

			}
			
		}

		#signup {

			color: $mainColour;

		}

		#signin {

			color: $mainColour;
		}
	}
}
