section h2 {
  margin-bottom: 20px; }

section #my-memorygame {
  margin-left: 30px; }

section #my-memorygame_ra {
  margin-left: 25px; }

a.btn {
  margin: 10px; }

body nav .dash {
  color: #fcbd20; }

body form.set {
  text-align: center; }

body {
  font-family: Helvetica, Arial, Verdana; }

#tutorial-memorygame {
  margin: auto;
  width: 780px; }

.text-style1 {
  font-size: 34pt;
  font-weight: normal;
  margin: 0; }

.reset-button {
  margin: 0 0 1.5em 0; }

body.games {
  overflow: hidden;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: url("/media/img/light.jpeg") center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  line-height: 0.2px; }

html {
  height: 100%; }
