section h2 {
  margin-bottom: 20px; }

body nav .dash {
  color: #fcbd20; }

body .bg-primary {
  min-width: 100%;
  min-height: 100%; }

body {
  font-family: Helvetica, Arial, Verdana;
  text-align: center; }

#tutorial-memorygame {
  margin: auto;
  width: 780px; }

.text-style1 {
  font-size: 14pt;
  color: #56605f;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
  margin: 0;
  line-height: 24pt; }

.reset-button {
  margin: 0 0 1.5em 0; }
