.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.tee {
	font-size: 18px;
}

.second {
	display: none;
}

.bg-primary {
	max-height: 100%
	display: repeat;
}

.bgcom {
	color: #fff;
}